streamlit==1.30.0
langchain==0.1.4 
audio-recorder-streamlit==0.0.8
whisper==1.1.10 
gTTS==2.5.1
torch==2.1.2
streamlit-chat==0.1.1
pypdf==4.0.1
sentence-transformers==2.3.0
faiss-cpu==1.7.4
llama_cpp_python==0.2.36
whisper==1.1.10
whispercpp @ git+https://github.com/johnryan465/whispercpp.py@439d49d16d010d33fd841db7b364985deee6889d